.h_header {
  width: 100;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  border-radius: 300px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.h_container1 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2em;
  text-shadow: 0px 1px 2px;
  /*justify-content: center;
    */

  /* justify-content: flex-start;
    */

  /* background: linear-gradient(to bottom,#76D6EB 0%,#1D9CF8 68%) ;
   */
}

body {
  background-color: none;
}
.h_log {
  margin-left: 10px;
  margin-right: 10px;
  height: 60px;
}
.h_container2 {
  /* text-align: center;
    font-size: 20px;
    margin-top: 0px;
    text-shadow: 1px 1px 0px;
    margin-right: 0px;
    width: 500px; */
  /* background-color: #e2eeff;
   
    background: linear-gradient(to bottom,#76D6EB 0%,#1D9CF8 68%) ;
   */
  /* border-radius: 20px;
    position: absolute;
    left: 66%;
    top:3%;
    font-weight: bold; */

  text-align: center;
  font-size: 2em;
  margin-top: 0px;
  text-shadow: 1px 1px 0px;
  /* margin-right: 0px; */
  /* width: 500px; */
  font-weight: bold;

  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 0cm;
}

.h_container21 {
  /* ;
    text-align: center;
    font-size: 20px;
    margin-top: 6px;
    text-shadow: 1px 1px 0px;
    margin-left: 37rem;
    margin-right: 100px;
    width: 300px;
   
   /* background-color: #e2eeff;
   */
  /* background: linear-gradient(to bottom,#76D6EB 0%,#1D9CF8 68%) ;
    /* 
    /* */
  /*position: absolute;
    top: 40px;
    left: 500px;
    
    /* animation: glow-animation 1s infinite alternate; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  border: 2px solid black;
  font-weight: 600;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  padding: auto;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0px;
}
.h_container3 {
  /* background: linear-gradient(to bottom,#76D6EB 0%,#1D9CF8 68%) ;
    */
  padding: 6px;
  margin-left: 0px;
  margin-right: 0px;
  /* border: 2px solid rgb(0, 0, 0); */
  margin-top: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: none;
  /*border: 2px solid black;
    border-radius: 10px;
    */
  width: 50%;
  margin-left: 50px;
  font-size: 21px;
  text-align: justify;
}

/*.container3 p {
    border: 2px solid black;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    display:flex;
    justify-content: center;
}
*/
.imag01 {
  position: absolute;
  top: 8px;
  height: 310px;
  width: 310px;
  right: 2px;
}
.imag02 {
  position: absolute;
  top: 0px;
  height: 310px;
  width: 300px;
}
.inside1 {
  display: flex;
  flex-direction: row;
}
.h_container4 {
  align-items: center;
  background-color: #d9d9d9;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, #76d6eb 0%, #1d9cf8 68%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 3px;
}
div.inside {
  border: 2px solid #a56464;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}
.menu {
  margin-inline-end: 15px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  height: 25px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  border-radius: 20px;
}
.menu:hover {
  background-color: #87ceeb;
}
.menu a {
  text-decoration: none;
  color: blue;
}
.marquee {
  margin-top: 10px;
  display: flex;
  /* grid-template-columns: 37.3% 37.3% 35.3%; */
  background: linear-gradient(to bottom, #76d6eb 0%, #1d9cf8 68%);
  flex-wrap: wrap;
  justify-content: space-around;
}

.lst {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  width: 23rem;
  text-align: center;
  border-radius: 20px;

  padding: 5px;
}
.lst:hover {
  background-color: #87ceeb;
}
.lst a {
  text-decoration: none;
  color: blue;
  text-transform: uppercase;
}

.h_img1 {
  height: 10rem;
  width: 13rem;
  position: absolute;
  top: 40px;
  border-radius: 200px;
}
.h_d2 {
  width: 150px;
  font-size: larger;
  text-align: center;
}
.h_imag {
  height: 300px;
  width: 100%;
  background-image: url("https://ahvs.karnataka.gov.in/storage/slids/1658906702.jpg");
  background-size: cover;
}
@media all and (max-width: 380px) {
  .header {
    border-radius: 0px;
  }
}

/*.imag{
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    height: 250px;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    vertical-align: middle;
    transition-delay: 0s;
    transition-duration:0.6s ;
    transition-property: left;
    transition-timing-function: ease-in-out;


}*/
.imag1 {
  margin: 5px;
}
.d1 {
  justify-content: center;
  height: 50px;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .container1 {
    font-size: medium;
    margin-bottom: 0px;
  }
  .header {
    padding: 0px;
    border: none;

    padding: 0px;
  }
  .container2 {
    margin-top: 4px;
    width: 350px;
    padding: 0px;
    margin-left: 0px;
    border: none;
    text-align: start;
    margin-top: 0px;
  }
  .container21 {
    width: 350px;
  }
  .imag3 {
    width: 350px;

    height: 300px;
  }
  .inside1 {
    display: flex;
    flex-direction: column;
  }
  .container3 {
    text-align: justify;
    width: 350px;
    margin-left: 0;
  }
}
